@charset "UTF-8";

/* Welcome to the start of the CSS*/
:root {
  --largeFont: 24px;
  --mediumFont: 18px;
  --smallFont: 16px;

  --titleFontFamily: "Poppins", sans-serif;
  --bodyTextFontFamily: "Open Sans", sans-serif;

  --lightBlue: #7ae6ff;
  --mediumBlue: #66c7f4;
  --darkBlue: #2391ff;
  --blueishBlack: #0d212d;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titleFontFamily);
  font-size: var(--largeFont);
  color: var(--blueishBlack);
}

p,
label,
button,
b,
a,
i,
input,
textarea,
option,
select {
  font-family: var(--bodyTextFontFamily);
  font-size: var(--smallFont);
  color: var(--blueishBlack);
}

a {
  color: var(--mediumBlue);
  background-image: linear-gradient(
    transparent calc(100% - 2px),
    var(--mediumBlue) 1px
  );
  text-decoration: none;
  background-size: 100% 100%;
  background-position: 100%;
  position: relative;
  background-repeat: no-repeat;
  transition: all 0.2s;
}

a:hover {
  background-size: 0 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/* Main START */
body {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  background-color: #eef0f1;
}

header {
  border-bottom: 2px solid var(--blueishBlack);
  background-color: #222b31;
  padding-top: 1vw;
}

header h1 {
  font-size: var(--mediumFont);
  text-align: center;
  margin-top: 0;
  color: white;
}

body section {
  width: 85vw;
  padding: 2.5vw;
  margin: 1vw auto;
  background-color: white;
  border: #d7d9d9 2px solid;
  border-radius: 5px;
}

footer {
  display: grid;
  grid-template-areas: "copy links";
  justify-content: center;
  padding: 1vw 7.5vw 2.5vw;
  background-color: #222b31;
}

#copyright {
  margin: 0 1vw;
}

footer p {
  color: white;
}

footer div a {
  margin: 0 0.5vw 0 0;
}

#pageContainer {
  position: relative;
  min-height: 100vh;
}

#contentWrap {
  padding-bottom: 2.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.someMargin {
  margin: 1vw 0;
}

.someMarginOver {
  margin-top: 1vw;
}

.somePadding {
  padding: 1vw 0;
}

.verticalGrid {
  display: grid;
  grid-template-areas:
    "a"
    "b";
}

.threeGrid {
  display: grid;
  grid-template-areas: "a b c";
}

.threeGrid > div {
  width: 26vw;
}

/* buttons START */
a:hover,
button:hover {
  cursor: pointer;
}

/*Custom buttons*/
button {
  padding: 0.3vw;
  font-weight: 700;
  border: var(--blueishBlack) 1px solid;
  border-radius: 5px;
  background-color: var(--lightBlue);
  box-shadow: rgba(0, 0, 0, 0.4) 2px 4px 2px;
  transition-property: background-color, border-radius, scale, box-shadow,
    transition-duration;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  outline: none;
}

button:hover {
  scale: 1.05;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 6px 4px;
}

button:active {
  scale: 0.9;
  box-shadow: rgba(0, 0, 0, 0.6) 2px 3px 2px;
  transition-duration: 0.2s;
}

/*Styling for range / slider*/
.rangeContainer {
  width: 33%;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 0.78125vw;
  border-radius: 0.2604166666666667vw;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  transition: opacity 0.2s;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.3020833333333333vw;
  height: 1.3020833333333333vw;
  border-radius: 50%;
  background: var(--darkBlue);
  cursor: pointer;
}

input[type="range"]::-moz-slider-thumb {
  width: 1.3020833333333333vw;
  height: 1.3020833333333333vw;
  border-radius: 50%;
  background: var(--darkBlue);
  cursor: pointer;
}

code {
  max-width: 70em;
  overflow: scroll;
}

/* buttons END */
@media screen AND (max-width: 1227px) {
  .threeGrid {
    display: grid;
    grid-template-areas: "a";
  }

  .threeGrid > div {
    width: 80vw;
  }

  /*Styling for range / slider*/
  input[type="range"] {
    height: 9.484375px;
    border-radius: 3.161458333333334px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 15.807291666666664px;
    height: 15.807291666666664px;
  }

  input[type="range"]::-moz-slider-thumb {
    width: 15.807291666666664px;
    height: 15.807291666666664px;
  }
}

.QR {
  max-width: 100%;
}
